.favorite{
  background: #1b1b1b;
  min-height: 375px;
  padding: 30px 0 100px;
  &__row{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;

  }
  &__logo{
    width: 149px;
    height: 211px;
  }
  &__icon{
    position: absolute;
    width: 28px;
    height: 42px;
    top: 0;
    right: 20px;
    cursor: pointer;

  }
  &__img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  &__card{
    position: relative;
    width: calc(20% - 33px);
  }
  &__title{
    text-overflow: ellipsis; //образка длинных блоков с текстом
    overflow: hidden; //прятать выходящий за пределы текст
    width: 100%; //ширина блока с текстом
    white-space: nowrap; //запрет на перенос текста
  }
  &__desc{
    color: gray;
  }
}