.partners{
  padding: 50px 0;
  &__title{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.2;
  }
  &__subtitle{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.2;
    text-align: center;
    margin: 50px 0 20px 0;
  }
  &__row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 10px;
  }
  &__card{
    width: calc(25% - 8px);
    img{
      width: 100%;
    }
  }
}