.sliderfrance{
  padding: 0 100px 0 0;
}
.slider {
  padding: 30px 40px 0;
  position: relative;

  &__block {
    border-radius: 30px;
    cursor: pointer;
    height: 550px;
    &-img {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      object-fit: cover;

    }
  }

  &__card{
    margin-top: 30px;
    padding: 30px ;
    width: 100%;
    background: #202020;
    height: 300px;
    &-desc{
      font-size: 13px;
      font-weight: 500;
      line-height: 1.54;
      color: #c6c6c6;
      margin-top: 9px;
    }
    &-title{
      font-size: 18px;
      font-weight: bold;
      line-height: 1.22;
      margin-top: 5px;
    }
    &-img{
      width: 59px;
      height: 59px;
    }
  }
  &__card-name{
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 60px;
  }


}

.slider__title{
  margin: 40px 0 20px 0 ;
}

.slider__img-box{
  height: 320px;
  padding: 10px 10px 0;
  transition: .5s;
  &:hover {
    padding: 0;
    transition: .5s;
    .slider__box-img{
      border-radius: 0;
      transition: .5s;
    }
    .slider__icon{
      display: block;
    }

  }

}
.slider__box-img{
  width: 100%;
  height: 100%;
  transition: .5s;
  border-radius: 15px;
  position: relative;
}
.slider__icon{
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 10;
  display: none;
  
}
.sliderfilm{
  height: 400px;
  padding: 0 35px;
  margin-bottom: 35px;
  .swiper{


    &::before {
      content: "";
      display: block;
      height: 100%;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 90px;
      left: -20px;
      background: linear-gradient(90deg,#141414 13%,rgba(27,27,27,0));
      z-index: 5;
    }
    &::after {
      content: "";
      display: block;
      height: 100%;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 90px;
      right: -20px;
      background: linear-gradient(270deg,#141414 13%,rgba(27,27,27,0));
      z-index: 5;
    }
  }
  &__title{
    text-overflow: ellipsis; //образка длинных блоков с текстом
    overflow: hidden; //прятать выходящий за пределы текст
    width: 100%; //ширина блока с текстом
    white-space: nowrap; //запрет на перенос текста
  }
  .swiper-button-prev{
    padding: 30px;
    background-color: rgba(80,80,80);
    border-radius: 50%;
    transition: .5s;
    opacity: 0.8;
    position: absolute;
    top: 30%;
    left: -50;
    &::after{
      content: url("https://web-static.more.tv/static/icons/SsArrow.b5e2ec3e.svg");
      transform: rotate(180deg);
      position: absolute;
      bottom: 3px;
    }
  }
  .swiper-button-next{
    padding: 30px;
    background-color: rgba(80,80,80);
    border-radius: 50%;
    transition: .5s;
    opacity: 0.8;
    position: absolute;
    top: 30%;
    right: -5;

    &::after{
      content: url("https://web-static.more.tv/static/icons/SsArrow.b5e2ec3e.svg ");
      position: absolute;
      top: 1px;

    }
    &:hover{
      opacity: 1;
      transition: .5s;
    }
  }

  .swiper-slide{
    opacity: 1;
  }
  &__title{
    margin: 10px 0;
  }
}
.sliderfilmsearch{
  .swiper{
    &::before {
      content: "";

    }
    &::after {
      content: "";

    }
    .swiper-slide{
      opacity: 1;
    }
  }
  .swiper-button-prev{
    padding: 30px;
    background-color: rgba(80,80,80);
    border-radius: 50%;
    transition: .5s;
    opacity: 0.8;
    position: absolute;
    top: 40%;
    left: -50;
    &::after{
      content: url("https://web-static.more.tv/static/icons/SsArrow.b5e2ec3e.svg");
      transform: rotate(180deg);
      position: absolute;
      bottom: 3px;
    }
  }
  .swiper-button-next {
    padding: 30px;
    background-color: rgba(80, 80, 80);
    border-radius: 50%;
    transition: .5s;
    opacity: 0.8;
    position: absolute;
    top: 40%;
    right: -5;

    &::after {
      content: url("https://web-static.more.tv/static/icons/SsArrow.b5e2ec3e.svg ");
      position: absolute;
      top: 1px;

    }

    &:hover {
      opacity: 1;
      transition: .5s;
    }
  }
}
.sliderfilmfrance{
  .swiper{
    &::before {
      content: "";

    }
    &::after {
      content: "";

    }
  }
  .swiper-slide{
    opacity: 1;
  }
}

.swiper-button-prev{
  padding: 40px;
  background: white;
  opacity: 0.5;
  border-radius: 50%;
  transition: .3s;
}
.swiper-button-next{
  padding: 40px;
  background: white;
  opacity: 0.5;
  border-radius: 50%;
  transition: .3s;

}
.swiper-button-next:hover{
  opacity: 1;
  transition: .3s;
}
.swiper-button-prev:hover{
  opacity: 1;
  transition: .3s;
}
.slider .swiper-button-prev:after {
  color: black;
}

.slider .swiper-button-next:after {
  color: black;
}

.swiper-slide {
  width: 100%;
  opacity: 0.6;
  transition: 0.3s;
}

.swiper-slide:nth-child(2n) {
  width: 100%;
}

.swiper-slide:nth-child(3n) {
  width: 100%;
}

.swiper-slide-active{
  opacity: 1;
  transition: 0.3s;
}
.swiper-button-disabled{
  display: none;
}
.sliderSwiper{
  padding: 0 50px;
}
.sliderSwipers{
  overflow: inherit;
}
.swiper-slide{
  margin-right: 30px!important;
}
@media (max-width: 1200px) {
  .header__menu-item{
    font-size: 14px;
  }
  .slider__block{
    height: 390px;
  }
  .sliderSwiper{
    padding: 0;
  }
  .slider__img-box{
    height: 250px;
  }
  .sliderfilm{
    height: 350px;
    margin: 0;
  }
}
@media (max-width: 1024px) {
  .sliderSwipers{
    overflow: hidden;
  }
  .slider__block {
    height: 360px;
  }
  .slider__img-box{
    height: 230px;
    padding: 0;
  }
  .sliderfilm{
    height: 260px;
    margin: 10px 0;
  }
  .slider__block{
    height: 325px;
  }
  .sliderfilm .swiper::after{
    height: 74%;
  }
  .sliderfilm .swiper::before{
    height: 74%;
  }

}
@media (max-width: 992px) {
  .sliderfilm {
    padding: 0 0 0 18px;
    margin-bottom: 58px;
    .swiper-slide {
      margin-right: 25px !important;
    }
  }
  .slider__img-box{
    height: 220px;
  }
  .slider__box-img {
    border-radius: 0;
  }
  .slider__box-img {
    height: 215px;
  }
  .slider__block-img{
    border-radius: 5px;
  }
  .slider__title{
    margin: 20px 0 20px 0;
  }
  .sliderfilm__title {
    font-size: 16px;
    margin: 5px 0;
  }
  .sliderfilm__desc{
    font-size: 14px;
  }
  .sliderfilm .swiper::after{
    height: 70%;
  }
  .sliderfilm .swiper::before{
    height: 70%;
  }


}
@media (max-width: 786px) {
  .slider__img-box{
    height: 160px;
  }
  .swiper-button-next{
    right: -5px;
  }
  .sliderfilm .swiper-button-next::after{
    top: -4px;
  }
  .sliderfilm .swiper-button-next{
    padding: 24px;
  }
  .sliderfilm .swiper-button-prev::after{
    top: 52px;
  }
  .sliderfilm .swiper-button-prev{
    padding: 24px;
  }
  .sliderfilm__title{
    font-size: 16px;
  }
  .sliderfilm__desc{
    font-size: 14px;
  }
  .sliderfilm{
    height: 215px;
  }
  .sliderfilm {
    padding: 0 0 0 18px;
    margin-bottom: 58px;
    .swiper-slide {
      margin-right: 20px !important;
      width: 137.6px !important;
    }
  }
  .slider__img-box {
    height: 217px;
  }
  .slider__block {
    height: 320px;
  }
}
@media (max-width: 676px) {
  .slider__block {
    height: 235px;
  }
  .sliderfilm{
    margin-bottom: 73px;
    .swiper-wrapper{
      .slider__block{
        height: 311px;
      }
    }
  }
  .slider__title {
    font-size: 20px;
  }

}
@media (max-width: 576px) {

}
@media (max-width: 425px) {

}
@media (max-width: 375px) {

}
@media (max-width: 320px) {

}
