@import "header";
@import "footer";
@import "slider";
@import "partner";
@import "about";
@import "partners";
@import "trems";
@import "contact";
@import "m3";
@import "map";
@import "accordion";
@import "subscriptions";
@import "input";
@import "register";
@import "filmfilter";
@import "films";
@import "film";
@import "filmfrance";
@import "overlay";
@import "favorites";
@import "favorite";

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&family=Montserrat:wght@400;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Montserrat,sans-serif;
}

body{
  background: #141414;
  color: white;
}
.container{
  max-width: 1380px;
  padding: 0 20px;
  margin: 0 auto;
}
.container__small{
  max-width: 740px;
  padding: 0 20px;
  margin: 0 auto;
}
.container__center{
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}
.center{
  text-align: center;
}
.home__desc{
  font-size: 20px;
  line-height: 24px;
}
@import "questions";
//.layout{
//  display: flex;
//  min-height: 100vh;
//  flex-direction: column;
//  justify-content: space-between;
//}